* {
	margin: 0;
	padding: 0;
	outline: none;
	user-select: none;
}
.DisplayFlex{
	display: flex;
	align-items: center;
	justify-content: center;
}
h1.web-title{
	text-transform: uppercase;
	font-weight: 900;
}
.roll-button{
	position: absolute;
	top: 200px;
	right: 200px;
}
.choices-container{
	margin-top: 2em;
}
.choices-container{
	position: relative;
}
.choices-container .choice{
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 30px;
}
.hide{
	display: none;
}
.choices-container .border{
	position: absolute;
	top: 30px;
	width: 350px;
	height: 30px;
	text-align: center;
	border: 3px solid black;
}